---
import ShoppingList from '../components/ShoppingList.astro';

const buyList = [
    'Controller',
    'Bread',
    'Water',
    'Notebook',
    'Math Book',
    'Choco Bar',
    'Milk'
]
---

<h1>Compras de la semana</h1>

<ShoppingList items={buyList} />